<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script
      src="https://kit.fontawesome.com/30c65430ac.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>{{.title}}</title>
  </head>
  <body>
    <dialog add-modal class="modal">
      <div class="modal-header">
        <button id="modal-close-btn" close-add-modal>Cancel</button>
        <input
          type="submit"
          id="add-task-btn"
          value="Add"
          form="add-task-form"
          formmethod="post"
        />
      </div>
      <form id="add-task-form">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          required
          placeholder="add a title ..."
        />
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          rows="4"
          required
          placeholder="add a description ..."
        ></textarea>
      </form>
    </dialog>

    <header>
      <h1>todo</h1>
      <button id="open-add-modal-btn" open-add-modal>
        <i class="fa-solid fa-plus"></i>
      </button>
    </header>

    <div id="sidebar"></div>
    <div id="todo-list">
      {{range .tasks}}
      <div class="card">
        <div class="card-header">
          <h2 class="{{if .Completed}}line-through{{end}}">{{.Title}}</h2>
          <button
            popovertarget="actions-{{.ID}}"
            class="open-anchor-btn"
            id="open-anchor-btn-{{.ID}}"
          >
            <i class="fa-solid fa-ellipsis"></i>
          </button>
          <div 
            id="actions-{{.ID}}" 
            popover anchor="open-anchor-btn-{{.ID}}"
          >
            <button type="button">Edit ...</button>
            <button 
              type="button"
              onclick="deleteTask({{.ID}})"
            >
              Delete 
            </button>
            
          </div>
        </div>
        <div class="card-body">
          <p class="{{if .Completed}}line-through{{end}}">{{.Description}}</p>
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="toggle-btn"
            data-id="{{.ID}}"
            onclick="toggleTask({{.ID}})"
          >
            {{if .Completed}}
            <i class="fa-regular fa-square-check done"></i>
            <span class="done">Done</span>
            {{else}}
            <i class="fa-regular fa-square"></i>
            <span>Done</span>
            {{end}}
          </button>
        </div>
      </div>
      {{end}}
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
