*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

:root{
    --text-color: #69665c;
    --text-color-light: #B2AFA1;
    --card-bg-color: #FFF9DE;
    --bg-color: #fff;
    --btn-color: #B2AFA1;
}

body{
    padding: min(2em, 5%);
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar todo-list"
    ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    gap: 5px;
    height: 100vh;
    height: 100dvh;
}

h1{
    color: var(--text-color);
    font-size: clamp(1rem, 5vw, 2rem);
}

p { word-break: break-all }

button, #add-task-btn{
    cursor: pointer;
}

/* start: header css */
header{
    grid-area: header;
    display:  flex;
    justify-content: space-between;
}

#open-add-modal-btn{
    border: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 800;
    padding: min(5px, 2%);
}
/* end: header css */

/* start: sidebar css */
#sidebar{
    grid-area: sidebar;
}
/* end: sidebar css */

/* start: todo-list css */
#todo-list{
    grid-area: todo-list;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.card{
    background-color: var(--card-bg-color);
    border: none;
    border-radius: 5px;
    padding: min(10px, 5%);
    flex: 1 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
    min-height: 200px;
    max-height: 500px;  
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.card .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.card .card-body{
    flex: 1;
    overflow-y: auto;
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.card .card-footer{
    display: flex;
    justify-content: flex-end;
}

.line-through{
    text-decoration: line-through;
}

.toggle-btn, .open-anchor-btn{
    border: none;
    background-color: transparent;
    color: var(--text-color-light);
    padding: min(5px, 2%);
    border-radius: 5px;
}

.toggle-btn .done{
    color: var(--text-color);
}

[popover]{
    inset: unset;
    top: anchor(bottom);
    right: anchor(center);
    border: none;
    border-radius: 0.5rem;
    min-width: 180px;
}

[popover] button{
    border: none;
    background-color: transparent;
    display: block;
    padding: 20px;
    width: 100%;
    text-align: start;
    color: var(--text-color);
}

[popover] button:hover{
    background-color: var(--text-color);
    color: #fff;
} 

/* end: todo-list css */

/* begin: modal */
.modal{
    background-color: white;
    z-index: 10;
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 70%;
    max-width: 800px;
    padding: min(2em, 5%);
    border: none;
}

dialog::backdrop {
    background-color: var(--text-color);
    opacity: 0.4;
  }

.modal .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#modal-close-btn{
    border: none;
    background-color: transparent;
    color: var(--text-color);
}

#add-task-btn{
    padding: 0.6em 2.8em;
    border-radius: 0.5rem;
    background-color: var(--btn-color);
    border: none;
    color: #fff;
}

.modal form input, .modal form label{
    display: block;
    margin-bottom: 10px;
}

.modal form input + label{
    margin-top: 30px;
}

.modal form input, .modal form textarea{
    border: none;
    border-radius: 0.5rem;
    background-color: #f9f9f8;
    color: var(--text-color);
    padding: min(0.5rem, 5%);
    width: 100%;
}

.input-character-count{
    float: right;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

/* end: modal */

/* phones */
@media (max-width: 600px){
    body{
        grid-template-areas: 
        "header"
        "todo-list"
        ;
        grid-template-columns: 100%;
    }

    .card{
        min-width: 100%;
    }

    .modal{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: none;
    }
    .modal::backdrop{
        display: none;
    }
}